<div class="ui left vertical inverted labeled visible sidebar menu" style="background-color: #effffe;">
    <nav>
    
    <div class="item">
        <a href="{{ site.baseurl }}/">
            {{ site.title }}
        </a>
    </div>

    {% for post in site.posts %}
        <div class="item">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </div>
    {% endfor %}


    {% for page in site.pages %}
    <div class="item">
        {% if page.title %}
        <a href="{{ page.url | prepend: site.baseurl }}">
            {{ page.title }}
        </a>
        {% endif %}
    </div>
    {% endfor %}

    </nav>
</div>
