<div class="ui masthead aligned segment" style="background-color: #ffc6c6;">
    <div class="ui container">
        <nav class="ui large secondary inverted pointing menu">
        <a href="{{ site.baseurl }}/">
            {{ site.title }}
        </a>
        
            <div class="right item">
            {% for page in site.pages %}
                {% if page.title %}
                <a href="{{ page.url | prepend: site.baseurl }}">
                    {{ page.title }}
                </a>
                {% endif %}
            {% endfor %}
            </div>
        </nav>
    </div>
</div>