<div class="ui left vertical labeled visible sidebar menu" id="sidebar-nav">
    <div class="item">
        <svg class="PokevisLogo" width="200" height="100">
            <text x="25" y="70" fill="rgb(69,69,69)" font-size="50" font-family="'Pacifico'">
                <a href="{{ site.baseurl }}/">
                    {{ site.title }}
                </a>    
            </text>
        </svg>
    </div>
    
    <div class="item">
        <div class="ui small header">
            Visualizations
        </div>
        <div class="menu">
            {% for post in site.posts %}
                <a class="item" href="{{ post.url | prepend: site.baseurl }}">
                    {{ post.title }}
                </a>
            {% endfor %}
        </div>
    </div>

    {% for page in site.pages %}        
        {% if page.title %}
        <div class="item">
            <a href="{{ page.url | prepend: site.baseurl }}">
                {{ page.title }}
            </a>
        </div>
        {% endif %}
    {% endfor %}

    <div class="ui horizontal header divider">
        <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-stack-2x"></i>
        </a>
    </div>
</div>
