<div class="four wide column">
    <label>Generation</label>
    <form id="generationOption">
        <input type="radio" value="6" name="generationOption" checked /> Generation 7 <br>
        <input type="radio" value="5" name="generationOption" /> Generation 6 <br>
        <input type="radio" value="4" name="generationOption" /> Generation 5 <br>
        <input type="radio" value="3" name="generationOption" /> Generation 4 <br>
        <input type="radio" value="2" name="generationOption" /> Generation 3 <br>
        <input type="radio" value="1" name="generationOption" /> Generation 2 <br>
        <input type="radio" value="0" name="generationOption" /> Generation 1
    </form>
</div>