<div class="three wide column">
    <label>Horizontal Axis</label>
    <form id="statOption">
        <select>
          <option value="hp" selected>HP</option>
          <option value="attack">Attack</option>
          <option value="defense">Defense</option>
          <option value="sp-attack">Sp. Attack</option>
          <option value="sp-defense">Sp. Defense</option>
          <option value="speed">Speed</option>
        </select>
    </form>
</div>
<div class="three wide column">
    <label>Vertical Axis</label>
    <form id="statOption">
        <select>
          <option value="hp" selected>HP</option>
          <option value="attack">Attack</option>
          <option value="defense">Defense</option>
          <option value="sp-attack">Sp. Attack</option>
          <option value="sp-defense">Sp. Defense</option>
          <option value="speed">Speed</option>
        </select>
    </form>
</div>
