<div class="two wide column">
    <form class="typeSelect">
    <input class="typeSelections" type="checkbox" name="typeSelect" value="0" checked /> <img src="/assets/types/normal.gif" /><br>
    <input class="typeSelections" type="checkbox" name="typeSelect" value="1" checked /> <img src="/assets/types/fighting.gif" /><br>
    <input class="typeSelections" type="checkbox" name="typeSelect" value="2" checked /> <img src="/assets/types/flying.gif" /><br>
    <input class="typeSelections" type="checkbox" name="typeSelect" value="3" checked /> <img src="/assets/types/poison.gif" /><br>
    <input class="typeSelections" type="checkbox" name="typeSelect" value="4" checked /> <img src="/assets/types/ground.gif" /><br>
    <input class="typeSelections" type="checkbox" name="typeSelect" value="5" checked /> <img src="/assets/types/rock.gif" /><br>
    </form>
</div>
<div class="two wide column">
    <form class="typeSelect">
    <input class="typeSelections" type="checkbox" name="typeSelect" value="6" checked /> <img src="/assets/types/bug.gif" /><br>
    <input class="typeSelections" type="checkbox" name="typeSelect" value="7" checked /> <img src="/assets/types/ghost.gif" /><br>
    <input class="typeSelections" type="checkbox" name="typeSelect" value="8" checked /> <img src="/assets/types/steel.gif" /><br>
    <input class="typeSelections" type="checkbox" name="typeSelect" value="9" checked /> <img src="/assets/types/fire.gif" /><br>
    <input class="typeSelections" type="checkbox" name="typeSelect" value="10" checked /> <img src="/assets/types/water.gif" /><br>
    <input class="typeSelections" type="checkbox" name="typeSelect" value="11" checked /> <img src="/assets/types/grass.gif" /><br>
    </form>
</div>
<div class="two wide column">
    <form class="typeSelect">
    <input class="typeSelections" type="checkbox" name="typeSelect" value="12" checked /> <img src="/assets/types/electric.gif" /><br>
    <input class="typeSelections" type="checkbox" name="typeSelect" value="13" checked /> <img src="/assets/types/psychic.gif" /><br>
    <input class="typeSelections" type="checkbox" name="typeSelect" value="14" checked /> <img src="/assets/types/ice.gif" /><br>
    <input class="typeSelections" type="checkbox" name="typeSelect" value="15" checked /> <img src="/assets/types/dragon.gif" /><br>
    <input class="typeSelections" type="checkbox" name="typeSelect" value="16" checked /> <img src="/assets/types/dark.gif" /><br>
    <input class="typeSelections" type="checkbox" name="typeSelect" value="17" checked /> <img src="/assets/types/fairy.gif" /><br>    
    </form>
</div>