<div class="three wide column">
    <label>Generation</label>
    <form id="generationOption">
        <input type="radio" value="6" name="generationOption" checked /> Gen 7 <br>
        <input type="radio" value="5" name="generationOption" /> Gen 6 <br>
        <input type="radio" value="4" name="generationOption" /> Gen 5 <br>
        <input type="radio" value="3" name="generationOption" /> Gen 4 <br>
        <input type="radio" value="2" name="generationOption" /> Gen 3 <br>
        <input type="radio" value="1" name="generationOption" /> Gen 2 <br>
        <input type="radio" value="0" name="generationOption" /> Gen 1
    </form>
</div>
