@import 'normalize';


circle, path {
  cursor: pointer;
}


circle {
  fill: none;
  pointer-events: all;
}


#tooltip { 
    background-color: white;
    padding: 3px 5px;
    border: 1px solid black;
    text-align: center;
}


#sidebar-nav {
    background-color: #effffe;
}

.ui.inverted.menu .item>a:not(.ui) {
    color: rgb(69, 69, 69);
}

.ui.secondary.pointing.menu {
    border-bottom: none;
}

.ui.secondary.inverted.pointing.menu {
    border-color: transparent;
}

body {
    color: rgb(69, 69, 69);
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
    table-layout: fixed;
    height: 722px;
    widht: 722px;

}
 
td {
    text-align: center; 
    vertical-align: middle;
    color: "#FFFFFF";
}

#pokeChart {
    height: 405px;
    display: block;
    margin: 0 auto;
    position: relative;
    width: 505px;
}

#pokeChart2 {
    height: 500px;
    display: block;
    margin: 0 auto;
    position: relative;
    width: 720px;
}


.legend {
    font-size: 12px;
}

rect {
    stroke-width: 1;
}

.tooltip {
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    display: none;
    font-size: 12px;
    left: 200px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 150px;
    width: 100px;
    z-index: 10;
}

img.hidden {
    visibility: hidden;
}

img.visible {
    visibility: visible;
    display: block; 
    margin:0 auto; 
}